.card-bg {
    background-color: #E9EDC9;
}

.text-center {
    text-align: center;
}

.full-width {
    width: 100%;
}

.expansion-title {
    font-weight: 200;
    letter-spacing: 2px;
}

.sub-header {
    text-align: center;
    color: #D4A373;
    margin: 10px;
}

.item-title {
    letter-spacing: 1px;
}

.text-muted {
    color: gray;
    ;
}

.item-price {
    font-size: 0.9rem;
}

.item-description {
    color: #7d7c83;
    font-size: 0.7rem;
}

.item-button {
    height: 20px;
    width: 20px;
    border: 1px solid #D4A373;
    border-radius: 5px;
}

.item-quantity {
    padding: 5px;
}