<div class="sub-header">
    <h3> {{ title }}</h3>
</div>
<div *ngIf="formArray">
    <mat-accordion *ngFor="let formGroup of formArray.controls;" [formGroup]="formGroup">
        <ng-container>
            <mat-expansion-panel class="card-bg">
                <!-- [expanded]="alwaysExpanded" (opened)="panelOpenState = true" (closed)="panelOpenState = false"> -->
                <mat-expansion-panel-header>
                    <mat-panel-title class="expansion-title">
                        {{formGroup.value.category | uppercase}}
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <ng-container *ngFor="let itemGroup of formGroup.controls.items.controls" formGroupName="items"
                    [formGroup]="itemGroup">
                    <mat-grid-list cols="5">
                        <mat-grid-tile class="item" colspan="3">
                            <div class="full-width">
                                <h3 class="item-title">{{itemGroup.value.name}}</h3>
                                <span class="item-price">{{itemGroup.value.price | currency: 'INR'}}</span> <br>
                                <span class="item-description">{{itemGroup.value.description}}</span>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile colspan="2">
                            <div>
                                <button class="item-button" (click)="patchQuantity(itemGroup, -1)"> - </button>
                                <span class="item-quantity"> {{itemGroup.value.quantity}} </span>
                                <button class="item-button" (click)="patchQuantity(itemGroup, 1)"> + </button>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                    <mat-divider></mat-divider>
                </ng-container>
            </mat-expansion-panel>
        </ng-container>
        <div style="margin: .5rem;"></div>
    </mat-accordion>
</div>
<div class="price-snackbar" [class.inactive]="selectedItemTotalCost <= 0">
    <mat-grid-list cols="5" rowHeight="2rem">
        <mat-grid-tile class="item" colspan="3">

            <!-- <div class="full-width">{{selectedItems}} item{{selectedItems > 1 ? 's' : ''}} </div> -->
            <div class="full-width">
                <span>{{selectedItems}} item{{selectedItems > 1 ? 's' : ''}}</span>
                <span> | </span>
                <span>{{selectedItemTotalCost | currency:'INR'}}</span>
            </div>

        </mat-grid-tile>
        <mat-grid-tile class="item" colspan="2">
            <div class="full-width" style="text-align: right;">
                View Cart
            </div>
            <!-- <div class="full-width" style="text-align: right;">{{selectedItemTotalCost | currency:'INR'}}</div> -->


        </mat-grid-tile>
    </mat-grid-list>
</div>