.center {
    display: flex;
    justify-content: center;
    margin: 20px 20px;
    
  }
.nav-buttons{
    height: 80px;
    width: 300px;
    border: 1px solid #D4A373;
    border-radius: 5px;
    background-color:#FAEDCD ;
}
.sub-header {
    text-align: center;
    color: #D4A373;
    margin: 10px;
}
