.home-bg {
    /* The image used */
    background-image: url("/assets/heroPlant.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .center {
    width: 180px;
    height: 60px;
    position: absolute;
  }
  